<div class="container">
    <div class="logo">
        <img src="../../../../assets/logo.png" alt="Medicar logo">
    </div>

    <div class="form">
        <form action="">
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput type="password">
            </mat-form-field>

            <mat-checkbox> Lembrar minha senha </mat-checkbox>

        </form>
    </div>

    <div class="botoes">
        <a href="#"> Criar Conta </a>
        <button mat-button color="primary"> Acessar </button>
    </div>
</div>